@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import './reset.css';
@import './home.css';
@import './Nav.css';
@import './contacter.css';
@import './dropdown.css';
@import './footer.css';
@import './HoverEntreprise.css';
@import './HoverParticulier.css';
@import './BarreDeRecherche.css';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    overflow-x: hidden;
    width: 100svw;
}

html {
    width: 100svw;
}

img {
    max-width: 100%;
}